@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #7EC9AB;
}

.findFriend {
	margin: 1%;
}

.requestDiv {
	margin: 1%;
}

.findFriend input:hover {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid white;
}

.findFriend input {
	border: none;
	background-color: transparent;
}

.findFriend input::placeholder {
	color : white;
}

.findFriend{
	background-color: grey;
	padding: 5px;
	cursor: pointer;
	border: 2px solid grey;
  	border-radius: 25px;
  	width: 20%;
  	height: 4%;
}
.requestDiv{
	border-top: solid;
	border-top-width: 1px;
	display: block;	
	overflow-y: auto;
	height: 89%;
}
.joueurDiv{
	width: 20%;
}
.joueurDivLeft{
	display: inline-block;
	font-size: 300%;
	width: 25%;
}
.joueurDivRight{
	margin-left: 2%;
	display: inline-block;
}
.joueurName{
	font-size: 90%;
	height: calc(200% / 3);
}
.joueurDemander {
	cursor: pointer;
	background-color: grey;
	border: 2px solid grey;
  	border-radius: 25px;
  	padding: 2px;
  	font-size: 80%;
  	height: calc(100% / 3);
  	color: white;
 }



/*
.add_friend {
	float: left;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.add_friend button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.add_friend button:hover {
  background: #ccc;
}*/