@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
* {
	margin : 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

/* ---------------- */
.row {
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
}

.left {
	height: 100%;
	width: 8%;
	background: linear-gradient(to top, #434343, #000000);

	

	text-align: center;
	color: white;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.center {
	height: 100%;
	width: 68%;
    background: linear-gradient(to top, #f5f7fa, #c3cfe2);

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.right {
	height: 100%;
	width: 24%;
	background: linear-gradient(to top, #434343, #000000);

	

	text-align: center;
	color: white;
}

.left div {
	margin-top: 30%;
}

.left a {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.left i {
	cursor: pointer;
	font-size: 300%; /* Augmente la taille de l'icône */
	transition-duration: 0.2s;
	background: -webkit-linear-gradient(#f5f7fa, #c3cfe2);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.left i:hover {
	font-size: 380%;
	transition-duration: 0.2s;
}
.right #add {
	height: 15%;

	background: -webkit-linear-gradient(#f5f7fa, #c3cfe2);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

	display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.right #add i {
	cursor: pointer;
	font-size: 300%;
	transition-duration: 0.2s;
}
.right #add i:hover {
	font-size: 380%;
	transition-duration: 0.2s;
}

.nav-bar {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

h3 {
	margin-left: 15%;
	font-size: 100%;
	margin-top: 5%; 
	margin-bottom: 5%; 
	width: 70%;
	padding: 2%;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

@media screen and (max-width: 1018px) {
  	.left {
  		margin: 0;
  		padding: 0;
  		width: 0;
  		height: 0;
  		visibility: hidden;
  	}
  	.right {
  		margin: 0;
  		padding: 0;
  		width: 0;
  		height: 0;
  		visibility: hidden;
  	}
  	.center {
  		margin: 0;
  		padding: 0;
  		width: 100%;
  		height: 90%;
  	}
  	.nav-bar {
  		z-index: 1;

  		visibility: visible;
  		width: 100%;
  		height: 10%;
  		background: linear-gradient(to top, #434343, #000000);

  		display: flex;
  		align-items: center;
  		justify-content: space-between;
  	}
  	.nav-bar i {
  		font-size: 200%;
  		color: white;
  		cursor: pointer;
  	}
  	.nav-bar #bar-left {
  		padding: 1%;
  	}
  	.nav-bar #bar-right {
  		padding: 1%;
  	}
}

