html {
	height: 100%;
	font-family: sans-serif;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.background {
	height: 100%;
	display: flex;
}

#c1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8FCAAE;
	width: calc(100% / 3);
	height: 100%;
}

#c2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EF8201;
	width: calc(100% / 3);
	height: 100%;
}

#c3 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #83C4D6;
	width: calc(100% / 3);
	height: 100%;
}

img {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: auto;
	transition-duration: 0.25s;
}

#bulb:hover {
	width: 40%;
	transition-duration: 0.25s;
}

#sala:hover {
	width: 40%;
	transition-duration: 0.25s;
}

#cara:hover {
	width: 40%;
	transition-duration: 0.25s;
}

.txt {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;

	background-color: black;

	color: white;
	font-style: oblique;
	text-align: center;
	font-size: 150%;
	font-variant: small-caps;
	letter-spacing: 3px;
	word-spacing: 9px;
}



