div.window{
	width: 76%;
	height: 76%;
	position: fixed;
	top: 12%;
	left: 12%;
}
.topbar {
	width: 100%;
	height: 5%;
	background: linear-gradient(to top, #434343, #000000);
	border-radius: 10px 10px 0 0;
	border-color: black;
	border-style: solid;
	border-bottom: none;
}
.window_content{
	height: 95%;
	overflow: hidden;
	width: 100%;
	background: #c9c9c9;
	background: -moz-linear-gradient(45deg, #c9c9c9 0%, #ffffff 53%, #aaaaaa 100%);
	background: -webkit-linear-gradient(45deg, #c9c9c9 0%,#ffffff 53%,#aaaaaa 100%);
	background: linear-gradient(45deg, #c9c9c9 0%,#ffffff 53%,#aaaaaa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#aaaaaa',GradientType=1 );
	border-radius: 0 0 10px 10px;
	border-color: black;
	border-style: solid;
	border-top: none;

}
.close {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	width: 5%;
	color: white;
	font-size: 150%;
	text-align: center;
}
.equipe_pokemon_div{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 35%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.boite_pokemon_div{
	display: inline-block;
	width: 65%;
	height: 100%;
	overflow-y: scroll;
}
.pokemon_div_equipe{
	display: block;
	height: calc(14% - 3px);
	margin-top:1%;
	margin-bottom:1%;
	width: calc(96% - 6px);
	margin-left: 2%;
	margin-right: 2%;
	background: rgb(182,223,253);
	background: -moz-linear-gradient(top, rgba(182,223,253,1) 0%, rgba(184,226,246,1) 49%, rgba(216,240,252,1) 50%, rgba(224,243,250,1) 100%);
	background: -webkit-linear-gradient(top, rgba(182,223,253,1) 0%,rgba(184,226,246,1) 49%,rgba(216,240,252,1) 50%,rgba(224,243,250,1) 100%);
	background: linear-gradient(to bottom, rgba(182,223,253,1) 0%,rgba(184,226,246,1) 49%,rgba(216,240,252,1) 50%,rgba(224,243,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6dffd', endColorstr='#e0f3fa',GradientType=0 );
	border-color: black;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	color: black;

}
.pokemon_div_equipe:hover{
	border-color: orange;
}
.pokemon_div_equipe_gauche{
	display: inline-block;
	margin:0;
	padding:0;
	width: calc(32% - 20px);
	height: 100%;
	overflow: hidden;
}
.pokemon_div_equipe_droit{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 100%;
	width: calc(68% - 20px);
	overflow: hidden;
}


.triangle_droit:hover{
	border-left-color: red;
}

.triangle_droit{
	display : block;
 	height : 0;
 	width : 0;
 	margin-top: calc(100% / 6);
 	margin-bottom: calc(100% / 6);
 	border-top : 4px solid transparent;
 	border-bottom : 4px solid transparent;
	border-left : 7px solid grey;
}
.triangle_bas:hover{
	border-top-color: red;
}
.triangle_bas{
	display : block;
 	height : 0;
 	width : 0;
 	margin-top: calc(100% / 6);
 	margin-bottom: calc(100% / 6);
 	border-top : 7px solid grey;
 	border-right : 4px solid transparent;
 	border-left : 4px solid transparent;
}
.triangle_haut:hover{
	border-bottom-color: red;
}
.triangle_haut{
	display : block;
 	height : 0;
 	width : 0;
 	margin-top: calc(100% / 6);
 	margin-bottom: calc(100% / 6);
 	border-right : 4px solid transparent;
 	border-bottom : 7px solid grey;
 	border-left : 4px solid transparent;
}
.boutons_div{
	display: inline-block;
	width: 20px;
	height: 100%;
}
.equipe_gauche_img{
	display: block;
	width: 100%;
	height: 63%;
	text-align: center;
}
.equipe_gauche_img img{
	width: auto;
	height: 100%;
}
.equipe_gauche_lvl {
	display: block;
	height: 32%;
	width: 100%;
	text-align: center;
	font-size: 75%;
}
.equipe_droit_nom{
	display: block;
	margin: 0;
	padding: 0;
	height: 32%;
	width: 100%;
	text-align: left;
	font-size: 70%;
}
.equipe_droit_pv{
	display: block;
	margin: 0;
	padding: 0;
	height: 32%;
	width: 100%;
	text-align: left;
	font-size: 70%;

}
.equipe_droit_numpv{
	display: block;
	margin: 0;
	padding: 0;
	height: 32%;
	width: 100%;
	text-align: left;
	font-size: 70%;
}
.equipe_droit_pv_restant{
	display: inline-block;
	width: 70%;
	height: 40%;
	border-radius: 10px;
	border-style: solid;
	border-color : black;
	border-width: 2px;
}
.pv_restant_modulable{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color : green;
}
.pokemon_div_boite{
	margin: 2px;
	position: relative;
	overflow: hidden;
	width: 80px;
	height: 80px;
	background: rgb(255,127,4);
	background: -moz-linear-gradient(top, rgba(255,127,4,1) 0%, rgba(255,124,0,1) 49%, rgba(255,167,61,1) 50%, rgba(255,183,107,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,127,4,1) 0%,rgba(255,124,0,1) 49%,rgba(255,167,61,1) 50%,rgba(255,183,107,1) 100%);
	background: linear-gradient(to bottom, rgba(255,127,4,1) 0%,rgba(255,124,0,1) 49%,rgba(255,167,61,1) 50%,rgba(255,183,107,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#ffb76b',GradientType=0 );
	display: inline-block;
	border-radius: 50%;
	color: black;
}
.img_div_boite{
	display: block;
	height: calc(100% * 3 / 6);
	width: 100%;
	opacity: 1;
	text-align: center;
}
.img_div_boite img{
	height: 100%;
	width: auto;
	max-width: 100%;
	opacity: 1;
}
.name_pokemon_boite{
	overflow: hidden;
	display: block;
	text-align: center;
	height: calc(100% * 2 / 6);
	width: 100%;
	font-size: 70%;
	opacity: 1;
}
.boite_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
 }
.pokemon_boite_container {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}
.boite_fleche{
	display : inline-block;
 	height : 0;
 	width : 0;
 	border-top : 8px solid transparent;
 	border-right : 14px solid grey;
 	border-bottom : 8px solid transparent;

}
.boite_fleche:hover {
	border-right : 14px solid red;
}
.pokemon_div_boite:hover .boite_middle{
	opacity: 1;
}
.pokemon_div_boite:hover .pokemon_boite_container{
	opacity: 0.3;
}